.div-pag {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
} 
.div1 {
    grid-row: span 5 / span 5;
}

.div2 {
    grid-column: span 4 / span 4;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
}
       